POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=metastore

RUSTFS_ROOT_USER=admin
RUSTFS_ROOT_PASSWORD=password123

POLARIS_ADMIN=admin
POLARIS_PASSWORD=password123

KAFKA_CLUSTER_ID=banking-cluster

SPARK_MASTER_HOST=spark-master

DREMIO_USER=admin
DREMIO_PASSWORD=password123