# -------------------------
# Environment Variables
# -------------------------
.env

# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.python-version

# -------------------------
# IDEs
# -------------------------
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Operating System
# -------------------------
Thumbs.db
.DS_Store

# -------------------------
# Airflow
# -------------------------
docker/airflow/logs/
airflow/plugins/__pycache__/

# -------------------------
# Spark
# -------------------------
spark-warehouse/
metastore_db/

# -------------------------
# RustFS Data
# -------------------------
docker/rustfs/data/

# -------------------------
# Dremio
# -------------------------
docker/dremio/data/

# -------------------------
# Kafka
# -------------------------
docker/kafka/data/

# -------------------------
# Temporary Files
# -------------------------
*.tmp
*.bak

# -------------------------
# Docker
# -------------------------
docker/**/*.db
docker/**/*.log
docker/**/*.pid
docker/**/data/
docker/**/volumes/

# -------------------------
# Java
# -------------------------
*.class
*.jar
*.war
*.ear
target/

# -------------------------
# Iceberg
# -------------------------
*.crc

# -------------------------
# Spark
# -------------------------
derby.log

# -------------------------
# Terraform
# -------------------------
.terraform/
terraform.tfstate
terraform.tfstate.*

# -------------------------
# Backups
# -------------------------
*.zip
*.tar
*.gz
*.backup

