# -------------------------
# Environment Variables
# -------------------------
.env

# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# -------------------------
# IDEs
# -------------------------
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Operating System
# -------------------------
Thumbs.db
.DS_Store

# -------------------------
# Airflow
# -------------------------
airflow/logs/
airflow/plugins/__pycache__/

# -------------------------
# Spark
# -------------------------
spark-warehouse/
metastore_db/

# -------------------------
# RustFS Data
# -------------------------
rustfs/data/

# -------------------------
# Dremio
# -------------------------
dremio/data/

# -------------------------
# Kafka
# -------------------------
kafka/data/

# -------------------------
# Temporary Files
# -------------------------
*.tmp
*.bak